/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body and HTML take full height */
  }
  
  body {
    font-family: Arial, sans-serif;
  }

  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Ensures full viewport height */
  }